extends layout

block content
	.status-message(ng-controller='messageCtrl')
		.row
			.small-12.columns
				span {{ statusMessage }}
	#board(ng-controller='backgammonCtrl')		
		include ./partials/fields.jade		
		include ./partials/checkers.jade		
	.row
		.small-3.columns(ng-controller='diceCtrl')
			.dice
				span.one{{ dieOne }} 
				span.two{{ dieTwo }} 
			button(type="button", class="btn btn-primary", ng-click='rollDice()') roll!
