.black(bg-checker, data-checker-field='0')
.black(bg-checker, data-checker-field='0')
.black(bg-checker, data-checker-field='11')
.black(bg-checker, data-checker-field='11')
.black(bg-checker, data-checker-field='11')
.black(bg-checker, data-checker-field='11')
.black(bg-checker, data-checker-field='11')
.black(bg-checker, data-checker-field='16')
.black(bg-checker, data-checker-field='16')
.black(bg-checker, data-checker-field='16')
.black(bg-checker, data-checker-field='18')
.black(bg-checker, data-checker-field='18')
.black(bg-checker, data-checker-field='18')
.black(bg-checker, data-checker-field='18')
.black(bg-checker, data-checker-field='18')
.white(bg-checker, data-checker-field='5')
.white(bg-checker, data-checker-field='5')
.white(bg-checker, data-checker-field='5')
.white(bg-checker, data-checker-field='5')
.white(bg-checker, data-checker-field='5')
.white(bg-checker, data-checker-field='7')
.white(bg-checker, data-checker-field='7')
.white(bg-checker, data-checker-field='7')
.white(bg-checker, data-checker-field='12')
.white(bg-checker, data-checker-field='12')
.white(bg-checker, data-checker-field='12')
.white(bg-checker, data-checker-field='12')
.white(bg-checker, data-checker-field='12')
.white(bg-checker, data-checker-field='23')
.white(bg-checker, data-checker-field='23')
.dummyOne(bg-dummy-checker)
.dummyTwo(bg-dummy-checker)