.field.field-up(bg-field, data-row-number='0', data-field-number="0" , style='bottom: 0px; left: 0px') {{0}}
.field.field-up(bg-field, data-row-number='0', data-field-number="1" , style='bottom: 0px; left: 40px') {{1}}
.field.field-up(bg-field, data-row-number='0', data-field-number="2" , style='bottom: 0px; left: 80px') {{2}}
.field.field-up(bg-field, data-row-number='0', data-field-number="3" , style='bottom: 0px; left: 120px') {{3}}
.field.field-up(bg-field, data-row-number='0', data-field-number="4" , style='bottom: 0px; left: 160px') {{4}}
.field.field-up(bg-field, data-row-number='0', data-field-number="5" , style='bottom: 0px; left: 200px') {{5}}
.field.field-up(bg-field, data-row-number='0', data-field-number="6" , style='bottom: 0px; left: 240px') {{6}}
.field.field-up(bg-field, data-row-number='0', data-field-number="7" , style='bottom: 0px; left: 280px') {{7}}
.field.field-up(bg-field, data-row-number='0', data-field-number="8" , style='bottom: 0px; left: 320px') {{8}}
.field.field-up(bg-field, data-row-number='0', data-field-number="9" , style='bottom: 0px; left: 360px') {{9}}
.field.field-up(bg-field, data-row-number='0', data-field-number="10", style='bottom: 0px; left: 400px' ) {{10}}
.field.field-up(bg-field, data-row-number='0', data-field-number="11", style='bottom: 0px; left: 440px' ) {{11}}
.field.field-down(bg-field, data-row-number='0', data-field-number="12", style='top: 0px; right: 0px' ) {{12}}
.field.field-down(bg-field, data-row-number='0', data-field-number="13", style='top: 0px; right: 40px' ) {{13}}
.field.field-down(bg-field, data-row-number='0', data-field-number="14", style='top: 0px; right: 80px' ) {{14}}
.field.field-down(bg-field, data-row-number='0', data-field-number="15", style='top: 0px; right: 120px' ) {{15}}
.field.field-down(bg-field, data-row-number='0', data-field-number="16", style='top: 0px; right: 160px' ) {{16}}
.field.field-down(bg-field, data-row-number='0', data-field-number="17", style='top: 0px; right: 200px' ) {{17}}
.field.field-down(bg-field, data-row-number='0', data-field-number="18", style='top: 0px; right: 240px' ) {{18}}
.field.field-down(bg-field, data-row-number='0', data-field-number="19", style='top: 0px; right: 280px' ) {{19}}
.field.field-down(bg-field, data-row-number='0', data-field-number="20", style='top: 0px; right: 320px' ) {{20}}
.field.field-down(bg-field, data-row-number='0', data-field-number="21", style='top: 0px; right: 360px' ) {{21}}
.field.field-down(bg-field, data-row-number='0', data-field-number="22", style='top: 0px; right: 400px' ) {{22}}
.field.field-down(bg-field, data-row-number='0', data-field-number="23", style='top: 0px; right: 440px' ) {{23}}


