script(src='bower_components/bower-foundation5/js/vendor/jquery.js')
script(src='bower_components/angular/angular.min.js')		
script(src='bower_components/angular-route/angular-route.min.js')						
script(src='app/app.js')
script(src='app/services/gameService.js')
script(src='app/board/gameBoard.js')
script(src='app/dice.js')
script(src='app/board/field.js')			
script(src='app/checker/checker.js')		
script(src='app/checker/dummyChecker.js')		
script(src='app/player/player.js')				
script(src='bower_components/bower-foundation5/js/foundation.min.js')