html {
  background: url(../img/backgammon_board.jpeg) no-repeat center center fixed;
  background-size: 600px 400px; }

#board {
  width: 500px;
  border: 10px solid gray;
  margin: 50px auto;
  position: relative;
  height: 490px; }

.quadrant-two, .quadrant-four {
  margin-left: 10px; }

.upper-half {
  margin-bottom: 100px; }

.field {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  padding: 0;
  position: absolute; }

.field-down:nth-child(even) {
  border-top-color: black; }

.field-up:nth-child(odd) {
  border-bottom-color: black; }

.field-up {
  border-bottom: 180px solid red; }

.field-down {
  border-top: 180px solid red; }

[bg-checker], [bg-dummy-checker] {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  position: absolute; }
  [bg-checker].white, [bg-dummy-checker].white {
    background: white;
    border: 1px solid black; }
  [bg-checker].black, [bg-dummy-checker].black {
    background: black;
    border: 1px solid white; }
  [bg-checker].dummyOne, [bg-checker].dummyTwo, [bg-dummy-checker].dummyOne, [bg-dummy-checker].dummyTwo {
    background: transparent; }
    [bg-checker].dummyOne.show, [bg-checker].dummyTwo.show, [bg-dummy-checker].dummyOne.show, [bg-dummy-checker].dummyTwo.show {
      background: rgba(231, 231, 47, 0.6); }
