#board{
    width : $boardWidth;   
    border: $boardBorderWidth solid grey;
    margin: 50px auto;
    position: relative;  
    height: $boardHeight;
}

.quadrant-two, .quadrant-four{
    margin-left: 10px;
}

.upper-half{
       margin-bottom: 100px;     
}