[bg-checker], [bg-dummy-checker] {
	width: $checkerWidth;
  height: $checkerWidth;  
  -moz-border-radius: $checkerRadius;
  -webkit-border-radius: $checkerRadius;
  border-radius: $checkerRadius;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  position: absolute;


  &.white{
  	background: white;
  	 border: $checkerBorderWidth solid black;
  }
  &.black{
  	background: black;
  	 border: $checkerBorderWidth solid white;
  }

  &.dummyOne, &.dummyTwo {
    background: transparent;

    &.show {
      background: rgba(231, 231, 47, 0.6);
    }
  }
}

