.field{
  width: 0;
	height: 0; 
  border-left: 20px solid transparent;
	border-right: 20px solid transparent;
  padding: 0;
  position: absolute;
}
.field-down:nth-child(even){  
    border-top-color: black;
}

.field-up:nth-child(odd){  
    border-bottom-color: black;
}


.field-up {   
	border-bottom: 180px solid red;  
}

.field-down {   
    border-top: 180px solid red;   
}